/* ------------------------ GENERALES ------------------------ */

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


@mixin flex-c {
  display: flex;
  flex-direction: column;
}

