/* ------------------------  1ST SECTION RESOURCES PAGE ------------------------ */

.r-section {
  background-color: black;
  height: auto;

  .r-img {
    width: 70%;
    height: 60vh;
    opacity: 0.9;
  }

  .r_texto {
    font-family: "forum";
    font-size: 5em;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    margin-left: 40px;
  }

  .submit {
    transition: ease 2s all;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.btnnnn {
  width: 150px;
}

.btn--amarillo {
  @extend .btnnnn;
  background-color: yellow;
}

@media (max-width: 1400px) {
  /* ------------------------ 1ST SECTION RESOURCES ------------------------ */

  .r-section .img-div .r-img {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  /* ------------------------  1ST SECTION RESOURCES PAGE ------------------------ */

  .r-section {
    height: auto;

    .r_texto {
      font-size: 4.5em;
      margin-left: 20px;
    }
  }
}

@media (max-width: 850px) {
  

  /* ------------------------ 1ST SECTION RESOURCES ------------------------ */

  .content {
    margin-top: 0px;
  }

  .r-section {
    height: 40vh;

    .img-div {
      display: none;
    }

    .col-6 {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .r_texto {
      font-size: 3.5em;
    }
  }
}

@media (max-width: 480px) {
  /* ------------------------ 1ST SECTION RESOURCES ------------------------ */

  .r-section img {
    display: none;
  }
  .r-section {
    height: 50vh;
  }

}
